:root{
    --corFundo: #fff;
    --corPadrao: steelblue;
    --corPalavra1: #fff;
    --corPalavra2: #000000; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*====================================================================================*/

.conteiner{
    width: 70%;
    margin: auto;
}

.conteiner-2{
    width: 54%;
    margin: auto;
}

.img-responsivo{
    max-width: 100%;
    height: auto;
}

.txt-center{
    text-align: center;
}

.titulo{
    font-size: 30px;
}
.top{
    margin-top: 30px;
}

.linha{
    background-color: var(--corPadrao);
}

.padding{
    /* está  deixando uma pequena s margem branca abixo do banner (preciso arrumar isso) */
    padding-top: 60px;
    padding-bottom: 60px;
}

/*==============================*/
/*            FOOTER            */
footer{
    background-color: var(--corPadrao);
}

.flex-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item{
    margin: 20px;
}

.flex-footer p{
    color: var(--corPalavra1);
}

/*====================================================================================*/
/*                  MEDIA QUERIE                                                      */

@media only screen and (max-width: 1000px){
    .conteiner{
        width: 90%;
    }
}

@media only screen and (max-width: 500px){
    .conteiner{
        width: 95%;
    }
}

/*====================================================================================*/
/*                  DARK MODE                                                        */
#ativar-dark{
    display: none;  
}

.lbl-dark{
    width: 50px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 2.5px 5px;
    border-radius: 20px;
    background-color: #363636;
    cursor: pointer;
}

.lbl-dark span{
    width: 20px;
    height: 20px;
    display: block;
    background-color: #fff;
    border-radius: 100%;
    transition: 0.5s;
}

#ativar-dark:checked ~ .lbl-dark span{
    margin-left: 20px;
    transition: 0.5s;
}

/* ----------------------------- */
.dark{
    --darkCorFundo: #363636;
    --darkcorPalavra2: #fff;
}

#ativar-dark:checked ~ .dark{
    background-color: var(--darkCorFundo);
}