:root{
    --corPalavra: #000000; 
    --corFundo: #fff;
    --corBorda: #000000;
}

/* =============================================================== */
.flex-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item{
    width: 32%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid var(--corBorda);
    padding: 10px;
}

.card-item:hover{
    opacity: 0.5;
}

/* =============================================================== */
.flex-promocoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-promocoes{
    width: 32%;
    margin-bottom: 10px;    
    border: 1px solid var(--corBorda);
    transition: 0.5s;
    
}

.item-promocoes:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


/*====================================================================================*/
/*                  MEDIA QUERIE                                                      */

@media only screen and (max-width: 1000px){
    .card-item{
        width: 49%;
    }
    /*------------------*/
    .item-promocoes{
        width: 49%
    }

}

@media only screen and (max-width: 500px){
    .flex-card{
        flex-direction: column;
    }
    .card-item{
        width: 100%;
    }
    /*------------------*/
    .flex-promocoes{
        flex-direction: column;
    }
    .item-promocoes{
        width: 100%;
    }
}

/* ================================================================ */
/* dark mode */
.dark{
    --DarkCorFundo: #363636;
    --darkCorBorda: #fff;
    --darkCorPalavra: #fff;    
}

/* --------------------------------------- */
#ativar-dark:checked ~ .dark .card-item{
    border: 1px solid var(--darkCorBorda);
}

#ativar-dark:checked ~ .dark .card-item p{
    color: var(--darkCorPalavra);
}
#ativar-dark:checked ~ .dark .card-item span {
    color: var(--darkCorPalavra);
}

/* --------------------------------------- */
#ativar-dark:checked ~ .dark section p{
    color: var(--darkCorPalavra);
}

#ativar-dark:checked ~ .dark section span{
    color: var(--darkCorPalavra);
}

/* --------------------------------------- */
#ativar-dark:checked ~ .dark .item-promocoes {
    border: 1px solid var(--darkCorBorda);    
}

#ativar-dark:checked ~ .dark .item-promocoes figcaption{
    color: var(--darkCorPalavra);
}

