:root{
    --corPadrao: steelblue;
}

.flex-prof{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prof-item{
    width: 32%; 
    margin-bottom: 20px;  
}

.prof{
    border: 3px solid var(--corPadrao);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*====================================================================================*/
/*                          VIDEO                                                     */
.video-pc{
    position: relative;
    padding-bottom: 50.25%;
    
}

.video-pc video{
    position: absolute;
    width: 100%;
    height: 100%;       
}


/*====================================================================================*/
/*                  MEDIA QUERIE                                                      */
@media only screen and (max-width: 1000px){
    .prof-item{
        width: 49%;
    }
}

@media only screen and (max-width: 500px){
    .flex-prof{
        flex-direction: column;
    }
    .prof-item{
        width: 100%;
    }
}

/*====================================================================================*/
/*                  MEDIA QUERIE                                                      */

.dark{
    --darkCorPalavra: #fff;
    --darkCorFundo: #363636;
}
/* ---------------------------- */
#ativar-dark:checked ~ .dark p{
    color: var(--darkCorPalavra);
}
#ativar-dark:checked ~ .dark span{
    color: var(--darkCorPalavra);
}

#ativar-dark:checked ~ .dark blockquote{
    color: var(--darkCorPalavra);
}

#ativar-dark:checked ~ .video-pc{
    background-color: var(--darkCorFundo);
}